.rollup.cache/
.serverless/
.tsbuildinfo
*.local
*.tsbuildinfo
**/.tsbuild/
dist/
node_modules/

# Guard against accidental temp artifacts created by nested toolchains on Windows
# (e.g., when a temp env var is undefined and a relative path is composed)
undefined/temp/tsx-*

# STAN
.stan/diff/
.stan/output/
.stan/patch/
.stan/system/facet.state.json
.stan/system/.docs.meta.json
.stan/dist/
.stan/imports/
